.InformeCostoMensual {
    width: 100%;
}

.InformeCostoMensual header {
    display: flex;
    padding: 0 0 20px 0;
}


.InformeCostoMensual header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.InformeCostoMensual header h1 {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    word-spacing: 5px;
}

.InformeCostoMensual header p {
    align-self: flex-end;
    display: inline-block;
    border-bottom: double 1px #000;
    width: max-content;
    position: relative;
    margin-bottom: 20px;
}

.InformeCostoMensual header p::after {
    content: '';
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    bottom: -4px;
    left: 0;
}