.stepper {
    width: 100%;
    max-width: max-content;
    display: flex;
    background: var(--muted);
    border-radius: 5px;
    overflow: hidden;
}

.stepper .step {
    padding: 8px 38px 8px 8px;
    cursor: pointer;
    position: relative;
    border-radius: 0 0 30px;
    color: var(--muted-foreground);
}

.stepper .step::after {
    content: '';
    width: 20px;
    height: 140%;
    position: absolute;
    transform: rotate(27deg);
    top: -9px;
    right: 0px;
    z-index: 0;
}

.stepper .step p {
    font-weight: bold;
}

.stepper .step.selected {
    background: var(--primary);
    color: var(--primary-foreground);
}

.stepper .step.selected::after{
    background: var(--primary);
}

.stepper .step.selected:nth-child(even)::before{
    content: '';
    width: 30px;
    height: 140%;
    position: absolute;
    transform: rotate(20deg);
    top: -9px;
    left: -18px;
    z-index: 1;
    border-radius: 0 100px 0 0 ;
    background: linear-gradient(243deg,rgba(255, 255, 255, 0) 40%, var(--primary) 0%) !important;
}

.stepper .step:last-child::after{
    transform: rotate(0deg);
    right: 0;
    width: 28px;
}
