@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.318 0.048 195.0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.318 0.048 195.0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.318 0.048 195.0);
    --primary: oklch(0.480 0.079 184.4);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.965 0.020 180);
    --secondary-foreground: oklch(0.380 0.059 195.0);
    --muted: oklch(0.965 0.020 180);
    --muted-foreground: oklch(0.539 0.078 183.7);
    --accent: oklch(0.955 0.025 180);
    --accent-foreground: oklch(0.380 0.059 195.0);
    --destructive: oklch(0.58 0.22 27);
    --border: oklch(0.922 0.010 180);
    --input: oklch(0.922 0.010 180);
    --ring: oklch(0.711 0.115 176.7);
    --chart-1: oklch(0.801 0.099 180.7);
    --chart-2: oklch(0.711 0.115 176.7);
    --chart-3: oklch(0.571 0.097 178.4);
    --chart-4: oklch(0.480 0.079 184.4);
    --chart-5: oklch(0.380 0.059 195.0);
    --radius: 0.625rem;
    --sidebar: oklch(0.380 0.059 195.0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.711 0.115 176.7);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.318 0.048 195.0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.711 0.115 176.7);
}

.dark {
    --background: oklch(0.318 0.048 195.0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.380 0.059 195.0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.380 0.059 195.0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.711 0.115 176.7);
    --primary-foreground: oklch(0.318 0.048 195.0);
    --secondary: oklch(0.380 0.059 195.0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.380 0.059 195.0);
    --muted-foreground: oklch(0.650 0.060 180);
    --accent: oklch(0.420 0.065 190);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.711 0.115 176.7);
    --chart-1: oklch(0.801 0.099 180.7);
    --chart-2: oklch(0.711 0.115 176.7);
    --chart-3: oklch(0.571 0.097 178.4);
    --chart-4: oklch(0.480 0.079 184.4);
    --chart-5: oklch(0.380 0.059 195.0);
    --sidebar: oklch(0.318 0.048 195.0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.711 0.115 176.7);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.380 0.059 195.0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.711 0.115 176.7);
}

@theme inline {
    --font-sans: 'Inter Variable', sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply font-sans bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}